<div class = "row">
  <div class="col-md-6">
    <h2>
      Acuerdos
    </h2>
  </div>
</div>
<div class="container">
  <table st-table="rowCollection" class="table table-striped">
  	<thead>
  	<tr>
      <th>ID</th>
  		<th>Actor</th>
  		<th>Demandado</th>
  		<th>Juzgado</th>
  		<th>Expediente</th>
  		<th>Juicio</th>
      <th>Publicación del Boletín</th>
      <th>Surte Efectos</th>
            <th>Tipo de Notificación</th>
  	</tr>
  	</thead>
  	<tbody>
  	<tr ng-repeat="acuerdo in acuerdos">
  		<td>{{acuerdo.slug}}</td>
  		<td>{{acuerdo.actor}}</td>
  		<td>{{acuerdo.demandado}}</td>
  		<td>{{acuerdo.juzgado}}</td>
  		<td>{{acuerdo.expediente}}</td>
      <td>{{acuerdo.juicio}}</td>
      <td>{{acuerdo.publ_boletin}}</td>
      <td>{{acuerdo.surte_efectos}}</td>
      <td>{{acuerdo.tipo_not}}</td>
  	</tr>
  	</tbody>
  </table>
</div>

<!--
<div class="container">
<uib-accordion close-others="oneAtATime">
  <div uib-accordion-group class="panel-default" heading="{{acuerdo.expediente + acuerdo.juzgado}}" ng-repeat="acuerdo in acuerdos">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">Actor</div><div class ="col-md-4"><input class="form-control" id="disabledInput" type="text" placeholder={{acuerdo.actor}} disabled></div>
        <div class="col-md-2">Demandado</div><div class ="col-md-4"><input class="form-control" id="disabledInput" type="text" placeholder={{acuerdo.demandado}} disabled></div>
      </div>
      <div class="row">
        <div class="col-md-2">Juzgado</div><div class ="col-md-10">{{acuerdo.juzgado}}</div>
        <div class="col-md-10">Expediente</div><div class ="col-md-10">{{acuerdo.expediente}}</div>
      </div>
      <div class="row">
        <div class="col-md-2">Juicio</div><div class ="col-md-2">{{acuerdo.juicio}}</div>
        <div class="col-md-2">Publ. boletín</div><div class ="col-md-2">{{acuerdo.publ_boletin}}</div>
        <div class="col-md-2">Tipo not.</div><div class ="col-md-2">{{acuerdo.tipo_not}}</div>
      </div>
    </div>
    </div>
</uib-accordion>
  </table>

          <a ng-repeat="acuerdo in acuerdos" data-toggle="collapse" ng-href="#collapse1" class="list-group-item">{{acuerdo.actor}} </a>
          <div id = "collapse1 "class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">Actor</div><div class ="col-md-4">{{acuerdo.actor}}</div>
              <div class="col-md-2">Demandado</div><div class ="col-md-4">{{acuerdo.demandado}}</div>
            </div>
            <div class="row">
              <div class="col-md-2">Juzgado</div><div class ="col-md-4">{{acuerdo.juzgado}}</div>
              <div class="col-md-2">Expediente</div><div class ="col-md-4">{{acuerdo.expediente}}</div>
            </div>
            <div class="row">
              <div class="col-md-2">Juicio</div><div class ="col-md-2">{{acuerdo.juicio}}</div>
              <div class="col-md-2">Publ. boletín</div><div class ="col-md-2">{{acuerdo.publ_boletin}}</div>
              <div class="col-md-2">Tipo not.</div><div class ="col-md-2">{{acuerdo.tipo_not}}</div>
            </div>
          </div>
        </div>
-->
</div>
