<div class="container">
    <form name="acuerdosForm" class="form-horizontal">
        <div class="form-group">
            <label for="actor" class="col-sm-2 control-label">Actor</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="acuerdo.actor" placeholder="Actor">
            </div>
        </div>
        <div class="form-group">
            <label for="expediente" class="col-sm-2 control-label">Demandado</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="acuerdo.demandado" placeholder="Demandado">
            </div>
        </div>
        <div class="form-group">
            <label for="juzgado" class="col-sm-2 control-label">Juzgado</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="acuerdo.juzgado" placeholder="Juzgado">
            </div>
        </div>
        <div class="form-group">
            <label for="expediente" class="col-sm-2 control-label">Expediente</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="acuerdo.expediente" placeholder="Expediente">
            </div>
        </div>
        <div class="form-group">
            <label for="juicio" class="col-sm-2 control-label">Juicio</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="acuerdo.juicio" placeholder="Juicio">
            </div>
        </div>
        <div class="form-group">
            <label for="publ_boletin" class="col-sm-2 control-label">Publicación del Boletín</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" ng-model="acuerdo.publ_boletin" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="juicio" class="col-sm-2 control-label">Tipo de Notificación</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="acuerdo.tipo_not">
                    <option ng-repeat="tipo_not in tipos_not" value="{{tipo_not}}">{{tipo_not}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="surte_efectos" class="col-sm-2 control-label">Surte Efectos</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" ng-model="acuerdo.surte_efectos" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="terminos" class="col-sm-2 control-label">Términos</label>
            <div class="col-sm-9" ng-repeat="termino in acuerdo.terminos">
                <textarea class="form-control" maxlength="225" rows="2" ng-model="termino.textBox" placeholder="Acuerdos"></textarea>
                <input type="date" class="form-control" ng-model="termino.fecha_termino" required/>
            </div>
            <button class="btn btn-info" ng-click="addMore()">Add More</button>
        </div>

        <div class="form-group">
            <label for="attachments" class="col-sm-2 control-label">Archivos Adjuntos</label>
            <div class="col-sm-9">
            <input type="file" ngf-select ng-model="attachment" name="file" accept="'application/pdf'" required ngf-model-invalid="errorFile">
           </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" ng-click="saveAcuerdov1()">Guardar</button>
            </div>
        </div>
        </form>
</div>

<div class="wrapper">
    <ng-pdf template-url="partials.html" canvasid="pdf" scale="page-fit" debug="true">
    </ng-pdf>
</div>
