<div class="container">
    <form name="acuerdosForm" class="form-horizontal">
        <div class="row">
            <div class="col-sm-8">
                <h3>Datos del Acuerdo</h>
                <h6>Redactado por:
                    <i>{{acuerdo.creado_por}}</i>
                </h>
            </div>
            <div class="col-sm-4">
                <h3>Comentarios</h>
                <button type="button" class="btn btn-xs">
                    <span class="glyphicon glyphicon-plus" ng-click="addComment()"></span>
                </button>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label for="actor" class="col-sm-2 control-label">Actor</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="acuerdo.actor" placeholder="Actor">
                </div>
            </div>
            <div class="form-group">
                <label for="expediente" class="col-sm-2 control-label">Demandado</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="acuerdo.demandado" placeholder="Demandado">
                </div>
            </div>
            <div class="form-group">
                <label for="juzgado" class="col-sm-2 control-label">Juzgado</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="acuerdo.juzgado" placeholder="Juzgado">
                </div>
            </div>
            <div class="form-group">
                <label for="expediente" class="col-sm-2 control-label">Expediente</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="acuerdo.expediente" placeholder="Expediente">
                </div>
            </div>
            <div class="form-group">
                <label for="juicio" class="col-sm-2 control-label">Juicio</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="acuerdo.juicio" placeholder="Juicio">
                </div>
            </div>
            <div class="form-group">
                <label for="publ_boletin" class="col-sm-2 control-label">Publicación del Boletín</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" ng-model="acuerdo.publ_boletin" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="juicio" class="col-sm-2 control-label">Tipo de Notificación</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="acuerdo.tipo_not">
                        <option ng-repeat="tipo_not in tipos_not" value="{{tipo_not}}">{{tipo_not}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="surte_efectos" class="col-sm-2 control-label">Surte Efectos</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" ng-model="acuerdo.surte_efectos" required/>
                </div>
            </div>

            <div class="form-group">
                <label for="terminos" class="col-sm-2 control-label">Términos</label>
                <div class="col-sm-9" ng-repeat="termino in acuerdo.terminos">
                    <textarea class="form-control" maxlength="225" rows="2" ng-model="termino.textBox" placeholder="Acuerdos"></textarea>
                    <input type="date" class="form-control" ng-model="termino.fecha_termino" required/>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-9" ng-repeat="comentario in acuerdo.comentarios">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">{{comentario.username}}</button>
                                </span>
                                <textarea class="form-control" maxlength="225" rows="2" ng-model="comentario.comentario"></textarea>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <p>
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">{{activeUsername}}</button>
                        </span>
                        <textarea class="form-control" maxlength="225" rows="2" ng-model="comentario"></textarea>
                    </div>
                </div>
            </p>
            <!--<button class="btn btn-info" ng-click="addComment()">Add More</button></button>-->
        </div>
        <div class="row">
            <button class="btn btn-info" ng-click="saveComments()">Guardar</button>
        </div>

        <div class="row">
            <button class="btn btn-info" ng-click="aprobar()">Aprobar</button> <span class="glyphicon glyphicon-ok" style="color:green"></span>
        </div>

        <div class="row">
            <button class="btn btn-info" ng-click="getPDF()">Visualizar PDF</button>
        </div>

        <object data="{{content}}" type="application/pdf" style="width: 100%; height: 800px;"></object>
    </form>
</div>
